<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-app="MathApplication" ng-controller="mathController">

</div>
	<script src="scripts/angular.min.js"></script>
	<script src="MathService/app.js"></script>
	<script src="MathService/math.js"></script>
	<script src="MathService/calculate.js"></script>
	
	Value 1 = <input type="number" ng-model="Value1">
	<br>
	Value 2 = <input type="number" ng-model="Value2">  
	<br>
	<button onclick="Calculator.calculate()">
	Calculate	
	</button>
</body>
</html>